// Theme Variables
$dark-background: #34495e;
$dark-text: #ecf0f1;
$light-background: #ecf0f1;
$light-text: #2c3e50;

@media (prefers-color-scheme: dark) {
    :root {
        background-color: $dark-background;
        color: $dark-text;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: $light-background;
        color: $light-text;
    }
}

body.dark-mode {
    background-color: $dark-background;
    color: $dark-text;
}

body.light-mode {
    background-color: $light-background;
    color: $light-text;
}

