// Theme Variables
$dark-background: rgb(52, 73, 94);  // #34495e
$dark-text: rgb(236, 240, 241);  // #ecf0f1
$light-background: rgb(236, 240, 241);  // #ecf0f1
$light-text: rgb(44, 62, 80);  // #2c3e50

@media (prefers-color-scheme: dark) {
    :root {
        background-color: $dark-background;
        color: $dark-text;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: $light-background;
        color: $light-text;
    }
}

body.dark-mode {
    background-color: $dark-background;
    color: $dark-text;
}

body.light-mode {
    background-color: $light-background;
    color: $light-text;
}

